<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xamoom.android.xamoom_pingeborg_android" >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.xamoom.android.xamoom_pingeborg_android.XamoomPingeborgApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Pingeborg" >
        <!--meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAVyr_-KqwFpjoAKPW7li7UbFoL6ZENktY" /-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5PVVHQ8QIDAqPuk47mN90WBPuQdxGnUU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:launchMode="singleInstance"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                android:screenOrientation="portrait"
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArtistDetailActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            >

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http"
                    android:host="xm.gl" />
                <data android:scheme="https"
                      android:host="xm.gl" />
                <data android:scheme="http"
                    android:host="pingeb.org" />
                <data android:scheme="http"
                    android:host="*.pingeb.org" />
            </intent-filter>

        </activity>
        <activity
            android:name=".QRCodeScannerActivity"
            android:label="@string/title_activity_qrcode_scanner"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
